* {
	box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
	font-family: 'Montserrat', sans-serif;
	color: #000;
}
a {
	text-decoration: none;
	color: #000;
}
*:focus {
  outline: 0;
}

.main {
	max-width: 110rem;
	margin: 0 auto;
	padding: 0 2rem;
}
/*-------------------------------- Nav Bar --------------------------------*/

header {
    line-height: 12rem;
    height: 12rem;
  }
  
  header h1 {
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
  }
  
  header ul::after {
    content: '';
    display: table;
    clear: both;
  }
  
  header li {
    display: inline-block;
    width: 12.5%;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  header li:nth-child(4) {
    width: 20%;
  }
  
  header li a {
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: 2px;
    position: relative;
    color: black;
  }
  
  header li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: maroon;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.5s;
  }
  
  header li:nth-child(4) a::before {
    display: none;
  }
  header li:nth-child(7) a::before {
    display: none;
  }
  
  header li:hover a::before {
    transform: scaleX(1);
  }
  
  header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
/*-------------------------------- Shopping Cart --------------------------------*/
.cart {
	margin-left: 50px;
	margin-right: 10px;
	position: relative;
	display: inline-block;
  }
  
  .cart img {
	width: 30px;
	height: 30px;
	margin-top: 5px;
  }
  
  .cart-count {
	position: absolute;
	top: 15px;
	right: 50px;
	background-color: maroon;
	color: white;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
/*-------------------------------- Popup Section --------------------------------*/
.popup {
    align-items: center;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 999;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.popup h2 {
    margin-top: 0;
}
.popup-close-button {
    position: relative;
    display: inline-block;
    margin: 8px;
    margin-left: 281px;
    margin-right: 281px;
    padding: 15px 30px;
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    color: maroon;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid maroon;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 maroon;
  }
  
.popup-close-button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 maroon;
  }
  
.popup-close-button:active {
    transform: scale(0.9);
  }

/*-------------------------------- Products Section --------------------------------*/
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .product {
    width: 30%;
    margin-bottom: 50px;
  }
  
  .product img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .product h3 {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .product h4 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 10px;
  }
  
  .product button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: maroon;
    color: white;
    border: 1px solid maroon;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .product button:hover {
    background-color: white;
    color: maroon;
    border: 1px solid maroon;
  }
  

