* {
	box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
	font-family: 'Montserrat', sans-serif;
	color: #000;
}
a {
	text-decoration: none;
	color: #000;
}
*:focus {
  outline: 0;
}

.main {
	max-width: 110rem;
	margin: 0 auto;
	padding: 0 2rem;
}
/*-------------------------------- Nav Bar --------------------------------*/

header {
    line-height: 12rem;
    height: 12rem;
  }
  
  header h1 {
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
  }
  
  header ul::after {
    content: '';
    display: table;
    clear: both;
  }
  
  header li {
    display: inline-block;
    width: 12.5%;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  header li:nth-child(4) {
    width: 20%;
  }
  
  header li a {
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: 2px;
    position: relative;
    color: black;
  }
  
  header li a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: maroon;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.5s;
  }
  
  header li:nth-child(4) a::before {
    display: none;
  }
  
  header li:hover a::before {
    transform: scaleX(1);
  }
  
  header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
/*-------------------------------- Shopping Cart --------------------------------*/
.cart {
	margin-left: 50px;
	margin-right: 10px;
	position: relative;
	display: inline-block;
  }
  
  .cart img {
	width: 30px;
	height: 30px;
	margin-top: 5px;
  }
  
  .cart-count {
	position: absolute;
	top: 15px;
	right: 20px;
	background-color: maroon;
	color: white;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
/*-------------------------------- Login --------------------------------*/
.container{
  width:100%;
  margin-left:40%;
  margin-right:40%;
  margin-top: 10%;
}
h1 {
  color: maroon;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: 30px;
  margin-top: 1em; 
}

form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  width: 300px;
  flex-direction: column;
  gap: 35px;
  border-radius: 15px;
  background: #e3e3e3;
  box-shadow: 16px 16px 32px #c8c8c8,
        -16px -16px 32px #fefefe;
  border-radius: 8px;
}

.inputBox{
  position: relative;
  width: 250px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: maroon;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #a71313;
  border-bottom: 2px solid #a71313;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox span
{
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: maroon;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: maroon;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}


.inputBox input:valid,
.inputBox input:focus {
  border: 2px solid #a71313;
  border-radius: 8px;
}

.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #a71313;
  color: maroon;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 1em;
}

.enter:hover {
  background-color: #a71313;
  color: white;
}

.card a{
  text-decoration: none;
  color: maroon;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/*-------------------------------- Popup Section --------------------------------*/

.popup {
  align-items: center;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  z-index: 999;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.popup h2 {
  margin-top: 0;
}
.popup-close-button {
  position: relative;
  display: inline-block;
  margin: 8px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 15px 30px;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1px;
  text-decoration: none;
  color: maroon;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid maroon;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 maroon;
}

.popup-close-button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 maroon;
}

.popup-close-button:active {
  transform: scale(0.9);
}