<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c76bc25f8c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/cart.css')}}">
    <title>Cart</title>
</head>
<body>
  <div class="main" id = "content">
    <header>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('product') }}">Products</a></li>
        <li><h1>Jatie's Shop</h1></li>
        <li><a href="{{ url_for('login') }}">Account</a></li>
        <li><a href="#">Contact</a></li>
        <li class="cart">
          <a href="{{ url_for('cart') }}"><img src="{{url_for('static', filename='images/cart.png')}}" width="30px" height="30px"></a>
          <div class="cart-count">{{ cart_count }}</div>
        </li>
    </ul>
    </header>
    <section id="myorders">
        <h2>My Basket</h2>
        <table>
          <thead>
            <tr>
              <th>Item Image</th>
              <th>Item</th>
              <th>Amount</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
              <tr>
                  <td><img src="{{ item.image_url }}" width="50px" height="50px"></td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>£{{ item.price }}</td>
                  <td><a href="{{ url_for('removefromcart', id=1) }}"><i class="fa-regular fa-trash-can"></i></a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
</body>
</html>
