<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/product.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('product') }}">Products</a></li>
          <li><h1>Jatie's Shop</h1></li>
          <li><a href="{{ url_for('login') }}">Account</a></li>
          <li><a href="#">Contact</a></li>
          <li class="cart">
            <a href="{{ url_for('cart') }}"><img src="{{url_for('static', filename='images/cart.png')}}" width="30px" height="30px"></a>
            <div class="cart-count">{{ cart_count }}</div>
          </li>
      </ul>
      </header>
            <div id="popup" class="popup">
                <h2>Item Added to Cart!</h2>
                <button id="popup-close-button" class="popup-close-button">Close</button>
            </div>

    <div class="container">
        <div class="product">
            <div class="product-image">
                <img src="{{url_for('static', filename='images/product1.png')}}" alt="">
            </div>
            <div class="product-info">
                <h1>Blue Denim Jacket</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
                <h2>$100</h2>
                <form action="{{ url_for('addtocartfromproducts', id=1) }}" method="POST">
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
        </div>
        <div class="product">
            <div class="product-image">
                <img src="{{url_for('static', filename='images/product2.png')}}" alt="">
            </div>
            <div class="product-info">
                <h1>Product 2</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
                <h2>$200</h2>
                <form action="{{ url_for('addtocartfromproducts', id=2) }}" method="POST">
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
        </div>
        <div class="product">
            <div class="product-image">
                <img src="{{url_for('static', filename='images/product3.png')}}" alt="">
            </div>
            <div class="product-info">
                <h1>Product 3</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quae.</p>
                <h2>$300</h2>
                <form action="{{ url_for('addtocartfromproducts', id=3) }}" method="POST">
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
        </div>
        <div class="product">
            <div class="product-image">
                <img src="{{url_for('static', filename='images/product4.png')}}" alt="">
            </div>
            <div class="product-info">
                <h1>Product 4</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
                <h2>$400</h2>
                <form action="{{ url_for('addtocartfromproducts', id=4) }}" method="POST">
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
        </div>

    </div>
</body>
</html>